{% extends 'layouts/main.html' %}
{% block title %}
{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h3><a href="/artists/{{ artist.id }}/edit">Edit</a></h1>
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			
			<span class="genre">{{ artist.genres }}</span>
			
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if comingshows >= 1 %}
		{%for sa in showsafter %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ sa.Venue.name }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endfor %}
		{% endif %}
		
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Artist Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ comingshows }} Upcoming {% if comingshows == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for sa in showsafter %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ sa.Venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ sa.Venue.id }}">{{ sa.Venue.name }}</a></h5>
				<h6>{{ sa.Shows.start_time }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ pastshows }} Past {% if pastshows == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for sf in showsbefore %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ sf.Venue.image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ sf.Venue.id }}">{{ sf.Venue.name }}</a></h5>
				<h6>{{ sf.Shows.start_time }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}

